* * * * * /usr/local/bin/python3 /analytics_job/student_avg_score.py >> /var/log/cron.log 2>&1
* * * * * /usr/local/bin/python3 /analytics_job/exam_avg_score.py >> /var/log/cron.log 2>&1
* * * * * echo "Cron executed" >> /var/log/cron.log 2>&1
